In [10]:
import numpy as np
import pandas as pd

In [8]:
a = np.random.binomial(1,0.5,[26,4])
a

array([[0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 1],
       [1, 1, 0, 1],
       [1, 1, 1, 1],
       [0, 1, 1, 1],
       [1, 0, 0, 0],
       [1, 0, 0, 1],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 1, 0],
       [1, 0, 1, 1],
       [0, 1, 1, 1],
       [0, 1, 0, 0],
       [0, 0, 1, 1],
       [0, 0, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 0],
       [0, 1, 1, 1],
       [1, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 1, 1, 0],
       [0, 1, 1, 1],
       [1, 1, 1, 0],
       [0, 0, 0, 0]])

In [9]:
a[a>0.5]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1])

In [23]:
list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u','v', 'w', 'x', 'y', 'z']
numbers = ['one','two','three','four']
df1 = pd.DataFrame(a,index = list, columns = numbers)
df1

   one  two  three  four
a    0    0      0     1
b    0    0      1     0
c    0    1      0     0
d    1    0      0     1
e    1    1      0     1
f    1    1      1     1
g    0    1      1     1
h    1    0      0     0
i    1    0      0     1
j    0    1      0     0
k    0    1      0     0
l    0    1      1     0
m    1    0      1     1
n    0    1      1     1
o    0    1      0     0
p    0    0      1     1
q    0    0      1     1
r    1    0      0     1
s    1    0      0     0
t    0    1      1     1
u    1    0      1     0
v    0    1      0     0
w    1    1      1     0
x    0    1      1     1
y    1    1      1     0
z    0    0      0     0

In [25]:
df1.sort_values(['two'],ascending = False).head(5)

   one  two  three  four
n    0    1      1     1
j    0    1      0     0
t    0    1      1     1
o    0    1      0     0
v    0    1      0     0

In [26]:
one = df1['one']
one.describe()

count    26.000000
mean      0.423077
std       0.503831
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: one, dtype: float64